{
  "env": {
    "browser": true,
    "es6": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "standard",
    "plugin:jest/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "jest"
  ],
  "rules": {
    "indent": ["error", 4],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/no-unsafe": "error",
    "react/no-this-in-sfc": "error",
    "react/no-multi-comp": "error",
    "react/no-access-state-in-setstate": "error",
    "react/destructuring-assignment": "error",
    "no-extra-parens": "error",
    "no-template-curly-in-string": "error",
    "block-scoped-var": "error",
    "complexity": ["error", 3],
    "consistent-return": ["error", { "treatUndefinedAsUnspecified": false }],
    "default-case": "error",
    "max-classes-per-file": "error",
    "no-alert": "error",
    "no-empty-function": "error",
    "no-magic-numbers": ["error", { "ignore": [0, 1], "ignoreArrayIndexes": true }],
    "no-multi-str": "error",
    "no-return-assign": "error",
    "no-return-await": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-throw-literal": "error",
    "no-useless-concat": "error",
    "no-warning-comments": "error",
    "require-await": "error",
    "vars-on-top": "error",
    "default-param-last": "error",
    "no-use-before-define": "error",
    "camelcase": "error",
    "max-depth": "error",
    "max-len": ["error", { "code": 70 }],
    "max-lines": ["error", 50],
    "max-nested-callbacks": ["error", 3],
    "no-continue": "error",
    "no-inline-comments": "error",
    "no-nested-ternary": "error",
    "no-duplicate-imports": "error",
    "max-statements": ["error", 5, { "ignoreTopLevelFunctions": true }]
  }
}
